In [42]:
x = lambda a : a + 25
print(x(10))

35